body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

.form-add-task {
  margin: 10px;
}

.todo {
  min-height: 85vh;
}

.about {
  min-height: 85vh;
  margin: 15px -15px;
}

.updateStyle  {
  background-color: #f77b6f
}

.noneUpdateStyle  {
   background-color: #E2E0E1;
}

ul#filters li .todo-item {
  padding: 10px 15px;
  display: inline-block;
  color: #7D797A;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  transition-duration: 500ms;
  transition-property: width, background;
  transition-timing-function: ease;
  -moz-transition-duration: 500ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -webkit-transition-duration: 500ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
}

